# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtualenv
env/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# logs
*.log


# Sublime Text
*.sublime-project
*.sublime-workspace

# Ignore folder
ignore/

#other
.DS_Store
.ipynb_checkpoints